.container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translateX(-50%) translateY(-50%);
}

.config {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  max-height: 100vh;
  text-align: center;
  overflow-y: auto;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.slides {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.slides-select {
  display: flex;
  align-items: center;
  gap: 10px
}

.slide-button {
  padding: 5px;
}

.color {
  margin: auto;
  display: block;
  width: 100px;
  height: 100px;
  border: 1px solid #000;
}
